
<%- include("partials/header"); %>


 <% articles.forEach((article)=>{ %>
     <div class="card mb-4">
         <div class="card-body">
             <div class="card-title">
                  <h1><%= article.Title %></h1>
             </div>
             <div class="card-subtitle">
                <p class="text-muted" style="font-size: 12px;">
                    <%= article.createdAt%>
                </p>
            </div>
             <div class="card-image mb-4">
                 <img src="<%= article.Image %>" alt="">
             </div>
             <div class="card-description">
                 <p><%= article.Description.substring(0,100); %>.....</p>
                 <a href="/articles/<%=article._id%>/show" class="btn btn-warning">Show More</a>
                 <form class="d-inline" action="/articles/<%= article._id %>?_method=DELETE" method="POST">
                    <button  class="btn btn-danger">Delete</a>
                </form>
               
             </div>
            
         </div>
     </div>



 <% }) %>

 <%- include("partials/footer"); %>
